* {
  margin: 0;
}

body {
  background-color: #17181b;
  font-family: NotoSansCJKtc, Futura-pt, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 87.5%;
  margin: 0 auto;
  max-width: 980px;
  padding-bottom: 48px;
}

.title {
  margin: 48px 0px;
  font-size: 2rem;
  font-weight: 500;
}

.sub-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5em 0 0.5em 0;
}

.title-color {
  color: #c59466;
}

.content {
  opacity: 0.8;
  font-size: 1rem;
  line-height: 1.5;
  color: #d1d1d1;
}

.content-sub-title {
  opacity: 1;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
}

ol > ul {
  list-style-type: disc;
}

li {
  line-height: 1.5;
}

.dtul {
  margin: 0 0 0 -20px;
}

.bracket {
    counter-reset: list;
    margin: 0;
}

.bracket > li {
    list-style: none;
    position: relative;
		margin: 0 0 0 5px;
}

.bracket > li:before {
    counter-increment: list;
    content: "(" counter(list, lower-roman) ") ";
    position: absolute;
    left: -1.4em;
}

.robracket {
    counter-reset: rolist;
    margin: 0;
}

.robracket > li {
    list-style: none;
    position: relative;
		margin: 0 0 0 5px;
}

.robracket > li:before {
    counter-increment: rolist;
    content: "( " counter(rolist, lower-alpha) " ) ";
    position: absolute;
    left: -2.4em;
}

.table {
  width: 100%;
	margin: 10px 0;
  border: solid 2px #214a72;
  border-radius: 4px;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > .th {
  color: #00b8c3;
  font-weight: 500;
}

.first, .second, .third, .auto {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first {
  flex: .3;
}

.second {
  flex: .3;
}

.third {
  flex: .3;
}

.rosecond{
  justify-content: center;
  align-items: left;
  flex-direction: column;
  flex: .5;
}
.rotdfirst{
  margin: 0 0 0 5px;
}
.roleft {
  width: 80%;
  margin: auto;
}
.auto {
  flex: 1;
}

.dirowen {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 33.33333%;
}

.dibottomborder {
  border-bottom: 1px solid #0e3552;
}


.ditext {
  text-align: center;
}

.th {
  display: flex;
  background-color: rgba(17, 44, 76, 0.5);
  padding: 10px 0;
  color: #d1d1d1;
  opacity: 0.8;
}

.td {
  display: flex;
  padding: 10px 0;
  color: #d1d1d1;
  opacity: 0.8;
}

.th:not(:last-child),
.td:not(:last-child) {
	border-right: 1px solid #0e3552;
}

.row:nth-child(n+1)	{
  background-color: #17191c;
}

.row:nth-child(2n+1)	{
  background-color: #192129;
}

.p-10{
  padding: 10px;
}

.space {
  padding: 10px 0.5em;
  text-align: center;
}

.img{
  opacity: 1;
  padding: 10px 0;
}

.darken {
  opacity: 0.8;
}

.underline {
  text-decoration: underline;
}

.m_sq_poker {
  margin-left: 80px;
  display: flex;
  align-items: center;
}

.m_sq_poker > img {
  width: 35px;
  height: 35px;
  padding: 15px 5px;
}

.poker > img {
  width: 70px;
  padding: 0px 1px;
}

.poker {
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 10px;
}

.marker {
  margin: auto;
}

@media only screen and (max-width: 600px) {
  ul {
    padding-left: 25px;
  }
	
  ol {
    padding-left: 25px;
  }
	
  ol > ul {
    padding-left: auto;
  }

  .poker {
    width: 90%;
    text-align: center;
  }

  .poker > img {
    width: 50px;
    padding: 0;
  }

}